.citycontainer {
  margin-top: 2%;
}

.place-button {
  margin-left: 3%;
}

.last {
  width: 50%;
  height: auto;
}

.jumbotron {
  background-color: rgb(255, 202, 202);
}

.jumbotron h1 {
  color: rgb(255, 47, 47);
}

.jumbotron p {
  color: rgb(80, 80, 80);
}

.jumbotron b {
  color: black;
}

.jumbotron img {
  width: 7%;
  float: right;
}

.card {
  padding: 0;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
