.footer{
    text-align: center;
    margin-top: 2%;
}

i{
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
}



.App{
    
    background-image:url("../src/Assets/images/dotslash4.png");
     background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.img{
    width: 20%;
    height: auto;
    margin-left: 40%;
}

nav{
    text-align: center;
}
